@model AspnetidentityRoleBased.Models.EmployeeViewModelcs

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

@using (Html.BeginForm("Save", "Employee", FormMethod.Post))
{
    @Html.HiddenFor(model => model.EmployeeId)

    <div class="form-group">
        <label for="Name">Name:</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="DepartmentName">Department:</label>
        @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control", @readonly = "readonly" })
        @Html.HiddenFor(model => model.DepartmentName) <!-- Add this hidden field for DepartmentName -->
    </div>

    <div class="form-group">
        <label for="Address">Address:</label>
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

<a asp-action="Index">Back to List</a>
